@model SUPREA_LOGISTICS.Models.MaintenanceLog
@{
    ViewData["Title"] = "New Maintenance Log";
}

<h2>Create New Maintenance Log</h2>

<form asp-action="CreateMaintenanceLog"
      asp-controller="VehicleManagement"
      method="post"
      class="row g-3">

    <!-- Vehicle ID -->
    <div class="col-md-12">
        <label asp-for="VehicleId" class="form-label">Vehicle</label>
        <select asp-for="VehicleId" class="form-select">
            <option value="">-- Select Vehicle --</option>
            @foreach (var vehicle in ViewBag.Vehicles as List<SUPREA_LOGISTICS.Models.Vehicle>)
            {
                <option value="@vehicle.VehicleId">
                    @($"{vehicle.VehicleId:0000} - {vehicle.UnitType} {vehicle.UnitModelSeries} ({vehicle.PlateNo})")
                </option>
	        }
	    </select>
    </div>

    <div class="col-md-6">
        <label asp-for="MaintenanceDate" class="form-label">Date Issued</label>
        <input asp-for="MaintenanceDate" type="date" class="form-control" />
    </div>

    <div class="col-md-6">
        <label asp-for="MaintenanceType" class="form-label">Type</label>
        <select asp-for="MaintenanceType" class="form-control">
                <option value="">-- Select Maintenance Type --</option>
                <option value="Preventive">Preventive</option>
		        <option value="Corrective">Corrective</option>
        </select>
    </div>


    <div class="col-12">
        <label asp-for="Description" class="form-label">Details</label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>

    <div class="col-md-6">
        <label asp-for="ServiceProvider" class="form-label">Service Provider</label>
        <input asp-for="ServiceProvider" class="form-control" />
    </div>

    <div class="col-md-6">
        <label asp-for="Cost" class="form-label"></label>
        <input asp-for="Cost" type="number" step="0.01" class="form-control" />
    </div>

    <div class="col-md-12">
        <label asp-for="Remarks" class="form-label"></label>
        <input asp-for="Remarks" type="text" class="form-control" />
    </div>

    <div class="col-12 mt-3">
        <button type="submit" class="btn btn-primary">Save Maintenance Log</button>
        <a asp-action="Details"
           asp-controller="VehicleManagement"
           asp-route-id="@Model.VehicleId"
           class="btn btn-secondary ms-2">
            Cancel
        </a>
    </div>
</form>
